// Variables

// Restated Bootstrap Variables

$c-white: #fff;
// $c-light-green: #AEAE98;
// $c-green: #6B705C;
$c-dark-green: #20211C;

$c-light-green: #477915;
$c-green: #DDD12D;

$c-light-green-opac:rgba(71, 121, 21, 0.05);
$c-border: 1px solid rgba(221, 209, 45, 0.15);
$c-green-opac:rgba(71, 121, 21, 0.5);

$f-gentium: 'Gentium Basic', serif;
$f-open-sans: 'Open Sans', sans-serif;