// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
    .intro-lead-in {
      white-space : nowrap;
      font-size: (2vw);
      line-height: 50px;
      margin-bottom: 40px;
      @include greeting-font;
    }
    .intro-heading {
      font-size: calc(2vw);
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 40px;
      @include greeting-font;
    }
  }
}

