.profile {
  margin-top: 180px;
}

.profile__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__container-head {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile__container-title {
  font-family: $f-open-sans;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  position: absolute;
  top: 80px;
}

.profile__container__header-description {
  position: absolute;
  max-width: 600px;
  top: 140px;
}

.profile__container-back {
  font-family: $f-open-sans;
  font-weight: bold;
  font-size: calc(20px + 11vw);
  line-height: 232px;
  color: $c-light-green;
  opacity: 0.1;
}

.profile__container-list {
  max-width: 500px;
}

.profile__container-list::before {
  margin-bottom: 45px;
  display: block;
  content: '';
  border: $c-border;
}

.profile__container-list::after {
  margin-top: 45px;
  display: block;
  content: '';
  border: $c-border;
}

.profile__list-item:not(:last-child) {
  padding-bottom: 15px;
}

@media (max-width: 900px) {
 .profile__container {
   display: flex;
   flex-direction: column;
   justify-content: center;

 }
}