.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  background: #F5F8F3;
  color: #444;
  cursor: pointer;
  border-radius: 30px;
  display: none;
  align-items: center;
  justify-content: center;
}

.back_to_top:hover {
  background: #c3d8b5d3;
}

.back_to_top-show {
  display: flex;
}